In [2]:
import pandas as pd
import numpy as np

In [5]:
testDF = pd.read_csv('../../datasets/mp_ONS_decsriptors_v3.csv')
testDF.head(5)

,smiles,mp,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,nH,...,AMW,WTPT-1,WTPT-2,WTPT-3,WTPT-4,WTPT-5,WPATH,WPOL,XLogP,Zagreb
0,C1(CCC1)C,-161.5050,0.127164,20.3505,15.467930,0,0,15,5,10,...,4.671883,9.414511,1.882902,0.000000,0.0,0.000000,16,1,2.784,22
1,CN(C)C,-117.0400,0.102464,19.9881,12.381137,0,0,13,4,9,...,4.544115,6.732051,1.683013,2.732051,0.0,2.732051,9,0,0.063,12
2,ClC(Cl)(Cl)Cl,-22.9875,12.849357,26.8490,10.480000,0,0,5,5,0,...,30.375082,8.500000,1.700000,9.000000,0.0,0.000000,16,0,2.864,20
3,C#C,-80.7500,0.882472,6.9650,4.853586,0,0,4,2,2,...,6.503913,3.000000,1.500000,0.000000,0.0,0.000000,1,0,0.418,2
4,C(=C(Cl)Cl)(C(Cl)(Cl)Cl)Cl,-72.9500,12.286427,46.2872,18.360000,0,0,9,9,0,...,27.312568,16.104985,1.789443,14.108974,0.0,0.000000,86,10,3.603,40

In [6]:
# first 10 rows of last 10 columns:
testDF.iloc[0:10, -10:]

,AMW,WTPT-1,WTPT-2,WTPT-3,WTPT-4,WTPT-5,WPATH,WPOL,XLogP,Zagreb
0,4.671883,9.414511,1.882902,0.000000,0.0,0.000000,16,1,2.784,22
1,4.544115,6.732051,1.683013,2.732051,0.0,2.732051,9,0,0.063,12
2,30.375082,8.500000,1.700000,9.000000,0.0,0.000000,16,0,2.864,20
3,6.503913,3.000000,1.500000,0.000000,0.0,0.000000,1,0,0.418,2
4,27.312568,16.104985,1.789443,14.108974,0.0,0.000000,86,10,3.603,40
5,4.671883,14.496041,1.812005,0.000000,0.0,0.000000,70,7,3.467,30
6,4.671883,12.293055,1.756151,0.000000,0.0,0.000000,42,6,3.228,30
7,4.671883,12.509162,1.787023,0.000000,0.0,0.000000,48,4,3.389,26
8,13.107155,11.575498,1.929250,5.352345,0.0,0.000000,26,2,2.215,26
9,7.501969,9.148995,1.829799,2.349335,0.0,0.000000,17,2,1.713,22

In [7]:
# last 10 rows of first 10 columns:
testDF.iloc[-10:,0:9]

,smiles,mp,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom
2694,c1cc(ccc1CO)Cl,71.750000,0.087379,12.8924,19.969551,6,6,16,9
2695,c1ccc(c(c1)C(=O)O)OP(=O)(O)O,167.250000,0.404369,20.0832,25.429551,6,6,21,14
2696,c1ccc2c(c1)CCCC2,-34.430000,0.203581,15.5540,25.601516,6,6,22,10
2697,CC(C)(c1ccccc1)c1ccc(cc1)O,72.130000,0.206025,16.1893,37.870688,12,12,32,16
2698,CC(C)(CO)CO,127.250000,0.000282,28.1783,18.405516,0,0,19,7
2699,CC1=CC(=O)c2ccccc2C1=O,104.250000,0.078344,25.2175,26.298344,6,6,21,13
2700,CCCC(=O)OCC,-94.250000,0.003564,29.6417,20.165516,0,0,20,8
2701,O=N(=O)c1ccc(C(=O)O)cc1,240.400000,0.176652,11.1093,19.961965,6,6,17,12
2702,O=C(O)c1cc(ccc1O)c1ccc(F)cc1F,213.498000,0.067236,11.5289,31.734344,12,13,26,18
2703,c1c(cc(c(c1Cl)O)Cl)Cl,68.142857,3.142111,19.4114,19.902379,6,6,13,10

In [8]:
# get last 10 column names:
last_10_cols = testDF.columns[-10:]
last_10_cols

Index(['AMW', 'WTPT-1', 'WTPT-2', 'WTPT-3', 'WTPT-4', 'WTPT-5', 'WPATH',
       'WPOL', 'XLogP', 'Zagreb'],
      dtype='object')

In [9]:
testDF.loc[0:10, ['AMW', 'WTPT-1']]

          AMW     WTPT-1
0    4.671883   9.414511
1    4.544115   6.732051
2   30.375082   8.500000
3    6.503913   3.000000
4   27.312568  16.104985
5    4.671883  14.496041
6    4.671883  12.293055
7    4.671883  12.509162
8   13.107155  11.575498
9    7.501969   9.148995
10   6.670162  12.509162

In [10]:
# get all rows, for each 'mp' values are positive 
mask = testDF.mp>0
testDF.loc[ mask, ['smiles','mp','nAtom'] ]

                                                 smiles          mp  nAtom
22                               CC(CO)(CO)[N+](=O)[O-]  150.050000     18
24    Cc1c(cc(cc1[N+](=O)[O-])[N+]([O-])=O)[N+]([O-])=O   80.050000     21
35                      O=C(CCC(=O)O)c1ccc(cc1)c2ccccc2  186.050000     33
51    COc5ccc(CCN1CCC(CC1)Nc3nc2ccccc2n3Cc4ccc(F)cc4...  149.050000     65
54                                             C(CBr)Br    9.970000      8
...                                                 ...         ...    ...
2698                                        CC(C)(CO)CO  127.250000     19
2699                             CC1=CC(=O)c2ccccc2C1=O  104.250000     21
2701                            O=N(=O)c1ccc(C(=O)O)cc1  240.400000     17
2702                      O=C(O)c1cc(ccc1O)c1ccc(F)cc1F  213.498000     26
2703                              c1c(cc(c(c1Cl)O)Cl)Cl   68.142857     13

[2063 rows x 3 columns]

In [11]:
# get all rows , for each 'mp' values are in the interval [1,10], and only columns = ['smiles','mp','nAtom']
# TODO: explain ambigues...
# mask = (testDF.mp >= 1 ) and testDF.mp <=10
# testDF.loc[ mask, ['smiles','mp','nAtom'] ]

In [12]:
testDF.iloc[:, -10:]

,AMW,WTPT-1,WTPT-2,WTPT-3,WTPT-4,WTPT-5,WPATH,WPOL,XLogP,Zagreb
0,4.671883,9.414511,1.882902,0.000000,0.000000,0.000000,16,1,2.784,22
1,4.544115,6.732051,1.683013,2.732051,0.000000,2.732051,9,0,0.063,12
2,30.375082,8.500000,1.700000,9.000000,0.000000,0.000000,16,0,2.864,20
3,6.503913,3.000000,1.500000,0.000000,0.000000,0.000000,1,0,0.418,2
4,27.312568,16.104985,1.789443,14.108974,0.000000,0.000000,86,10,3.603,40
...,...,...,...,...,...,...,...,...,...,...
2699,8.192973,26.188765,2.014520,5.092296,5.092296,0.000000,218,21,2.141,68
2700,5.804186,14.658474,1.832309,5.257553,5.257553,0.000000,75,6,1.486,28
2701,9.824815,23.241895,1.936825,12.680121,9.654361,3.025760,206,15,1.920,56
2702,9.617083,35.867277,1.992627,12.447165,7.378155,0.000000,597,28,3.935,92
2703,15.071150,19.224956,1.922496,9.961835,2.485848,0.000000,110,13,2.121,48

In [13]:
# TODO: not displaying full info
testDF.info(max_cols=4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2704 entries, 0 to 2703
Columns: 1444 entries, smiles to Zagreb
dtypes: float64(1027), int64(406), object(11)
memory usage: 29.8+ MB

In [14]:
testDF.describe()

,mp,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,nH,nB,...,AMW,WTPT-1,WTPT-2,WTPT-3,WTPT-4,WTPT-5,WPATH,WPOL,XLogP,Zagreb
count,2704.000000,2704.000000,2704.000000,2704.000000,2704.000000,2704.000000,2704.000000,2704.000000,2704.000000,2704.000000,...,2704.000000,2704.000000,2704.000000,2704.000000,2704.000000,2704.000000,2704.000000,2704.000000,2704.000000,2704.000000
mean,60.385810,2.333889,22.450559,25.855597,5.377959,5.524778,22.046598,11.523299,10.523299,0.001849,...,8.830435,22.531010,1.929435,7.138764,3.527679,1.866961,300.334320,13.625740,2.957436,53.017012
std,93.578197,7.130305,15.090407,12.391578,4.734447,5.016817,11.561928,4.993541,7.865182,0.042969,...,4.655997,10.386541,0.097043,5.290781,3.562835,2.878519,742.523658,9.297668,2.574397,27.114037
min,-187.750000,0.000000,0.000000,3.988000,0.000000,0.000000,3.000000,1.000000,0.000000,0.000000,...,3.206260,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.202000,0.000000
25%,4.810000,0.120947,12.578875,18.889551,0.000000,0.000000,15.000000,8.000000,6.000000,0.000000,...,6.459494,15.692665,1.915087,3.011557,0.000000,0.000000,79.000000,7.000000,1.388500,36.000000
50%,60.500000,0.558757,19.189350,22.747551,6.000000,6.000000,19.000000,11.000000,9.000000,0.000000,...,7.806538,21.233554,1.939783,5.872403,2.518318,0.000000,148.000000,12.000000,2.478000,50.000000
75%,123.690000,1.918502,28.744475,30.097697,6.000000,6.000000,26.000000,14.000000,12.000000,0.000000,...,9.600205,26.993207,1.972165,9.972488,5.187569,3.017933,286.000000,18.000000,4.009750,64.000000
max,437.650000,143.841644,176.593500,159.917714,28.000000,32.000000,155.000000,57.000000,98.000000,1.000000,...,78.744249,112.148293,2.214982,42.888886,19.891509,19.278668,22558.000000,75.000000,25.376000,230.000000

In [15]:
testDF.mp.min()

-187.75

In [16]:
testDF.iloc[:, 0:3].describe()

                mp       ALogp2
count  2704.000000  2704.000000
mean     60.385810     2.333889
std      93.578197     7.130305
min    -187.750000     0.000000
25%       4.810000     0.120947
50%      60.500000     0.558757
75%     123.690000     1.918502
max     437.650000   143.841644

In [17]:
testDF.head()

,smiles,mp,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,nH,...,AMW,WTPT-1,WTPT-2,WTPT-3,WTPT-4,WTPT-5,WPATH,WPOL,XLogP,Zagreb
0,C1(CCC1)C,-161.5050,0.127164,20.3505,15.467930,0,0,15,5,10,...,4.671883,9.414511,1.882902,0.000000,0.0,0.000000,16,1,2.784,22
1,CN(C)C,-117.0400,0.102464,19.9881,12.381137,0,0,13,4,9,...,4.544115,6.732051,1.683013,2.732051,0.0,2.732051,9,0,0.063,12
2,ClC(Cl)(Cl)Cl,-22.9875,12.849357,26.8490,10.480000,0,0,5,5,0,...,30.375082,8.500000,1.700000,9.000000,0.0,0.000000,16,0,2.864,20
3,C#C,-80.7500,0.882472,6.9650,4.853586,0,0,4,2,2,...,6.503913,3.000000,1.500000,0.000000,0.0,0.000000,1,0,0.418,2
4,C(=C(Cl)Cl)(C(Cl)(Cl)Cl)Cl,-72.9500,12.286427,46.2872,18.360000,0,0,9,9,0,...,27.312568,16.104985,1.789443,14.108974,0.0,0.000000,86,10,3.603,40

In [24]:
labels = testDF.mp
features = testDF.drop(axis=1,columns='mp')
features.shape

(2704, 1443)